extends layout

block content
  .jumbotron.ds-About-jumbotron
    h1 dsBudget
    p A simple personal budgeting application
    p 
      a.btn.btn-primary.btn-lg(role='button', href='signup') Sign Up
  .page-header
    h1 TODO 
      small todo sub header

  p I haven't really worked on this page yet
